<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Allow">
        <system.webServer>
            <modules>
                <remove name="WebDAVModule"/>
            </modules>
            <handlers>
                <remove name="WebDAV" />
                <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
                <add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,PUT,DELETE,OPTIONS,TRACE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
            </handlers>
        </system.webServer>
    </location>
</configuration>
